.btn {
  --trans-speed: .15s;

  display: inline-block;
  padding: var(--space-2xs) var(--space-m);
  font-family: var(--proxima-sb);
  color: var(--button-colour);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: 28px;
  border: none;
  background: var(--button-background);
  transition: color var(--trans-speed) ease-in-out,
              background-color var(--trans-speed) ease-in-out,
}

.btn:hover {
  color: var(--button-hover-colour);
  background: var(--button-hover-background);
}

.btn-pink {
  --button-colour: #fff;
  --button-hover-colour: #fff;
  --button-background: var(--pink);
  --button-hover-background: color-mix(in srgb, var(--pink) 90%, #000);
}

.btn-green {
  --button-colour: var(--purple);
  --button-hover-colour: var(--purple);
  --button-background: var(--green);
  --button-hover-background: color-mix(in srgb, var(--green) 90%, #000);
}
