<script type="application/ld+json">
 { "@context": "https://schema.org",
 "@type": "Organization",
 "name": "CustomerSure ",
"url": "https://www.customersure.com",
 "logo": "https://www.customersure.com/assets/img/customersure.svg",
 "foundingDate": "2010",
"address": {
 "@type": "PostalAddress",
 "streetAddress": "John Buddle Work Village, Buddle Road",
 "addressLocality":"Newcastle upon Tyne",
 "addressRegion": "Tyne and Wear",
 "postalCode": "NE4 8AW",
 "addressCountry": "UK"
 },
 "contactPoint": {
 "@type": "ContactPoint",
 "contactType": "customer support",
 "telephone": "+44 191 695 6910",
 "email": "support@customersure.com"
 },
 "sameAs": [
 "https://www.linkedin.com/company/customersure"
 ]}
</script>
